html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Verdana;
  font-size: .75em;
  background: #eee;
}

app, buildings, map, list, detail {
  height: 100%;
}

map {
  overflow: hidden;
  max-height: 1000px;
}

@media screen and (max-width: 400px) {
  app {
    font-size: .8em;
  }
}