body {
  font-family: Verdana;
  font-size: .75em;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

app {
  width: 900px;
}

@media screen and (max-width: 400px) {
  app {
    font-size: .8em;
  }
}