.card {
  background: #fff;
  padding: 1em;
  margin: 1em;
  width: 20em;
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 1px rgba(0,0,0,.24);
  border-radius: 1px; 
  cursor: pointer;
}

.card:hover {
  background: #eee;
}

.card .name {
  color: #1e9ddc;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.card .name .label {
  font-size: 1.1em;
  color: #888;
  width: 15em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .name .code {
  font-size: .9em;
}

.card .country {
  font-weight: bold;
  margin-top: .8em;
}