<div class="detail">
  <form name="form" novalidate>
    <div class="panel-header" layout="row" layout-align="space-between center">
      <div class="title">
          <div class="name">{{ building.name }}</div>
          <div class="code">{{ building.code }}</div>
      </div>

        <a id="close" class="action close" (click)="closeClicked()">Close</a>
    </div>

    <div class="content">
      <div id="map"></div>
      
      <div class="facilities">
        <a><i class="fa fa-building"></i></a>
        <a><i class="fa fa-product-hunt"></i></a>
        <a><i class="fa fa-bicycle"></i></a>
        <a><i class="fa fa-cutlery"></i></a>
        <a><i class="fa fa-coffee"></i></a>
      </div>
    </div>
  </form>
</div>