<div class="buildings">
  <div class="top-bar">
    <div class="group"></div>

    <search-box class="group" (filterChange)="doFilter($event)"></search-box>

    <view-mode class="group" [mode]="viewMode" (modeChanged)="modeChanged($event)"></view-mode>
  </div>

  <list class="cards" [buildings]="buildings" (selectBuilding)="showDetail($event)" *ngIf="viewMode === 'LIST'"></list>

  <map [buildings]="buildings" (selectBuilding)="showDetail($event)" *ngIf="viewMode === 'MAP'"></map>
</div>

<detail [building]="currentBuilding" [class.visible]="isDetailVisible" (close)="closeDetail()"></detail>