<div class="building">
  <div class="address">{{ _building.buildingAddress.streetAddress }}</div>
  <div class="locality">{{ _building.buildingAddress.postalCode ? _building.buildingAddress.postalCode + ' ' : '' }}{{ _building.buildingAddress.city }}</div>
  <div class="country">{{ _building.buildingAddress.country }}</div>

  <div class="separator"></div>

  <div class="time">
    <div class="icon-time"><i class="fa fa-clock-o"></i></div>

    <div class="start-time">{{ startTime }}</div>
    &gt;
    <div class="end-time">{{ endTime }}</div>
  </div>
  
  <div class="separator"></div>

  <div class="occupants-box">
    <div class="icon-users"><i class="fa fa-users"></i></div>
    <div class="occupants" *ngFor="let occupant of occupants">{{ occupant }}</div>
  </div>
</div>